.pagination {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    justify-content: center;
  }
  
  .pagination-item {
    margin-right: 5px;
  }
  
  .pagination-button {
    background-color: goldenrod;
    color: white;
    font-family: 'Stencil Std Bold';
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
  }
   @font-face {
    font-family: 'Stencil Std Bold';
    src: url('../../Utils/Fonts/StardosStencil-Bold.ttf');
         
  }
  
  @media screen and (max-width: 768px) {
    .custom-h1 {
      font-size: 4vw; /* Tamaño de la fuente en unidades vw para tamaños de pantalla más pequeños */
    }
  }